<table>
  <tbody>
    <tr>
      <th>Added Task</th>
    </tr>
    <tr class="action-area" class="hoverEffect" *ngFor="let task of taskArray let i=index ">
      <div class="left">
        <input id="check" type="checkbox" (click)="doFinish(i)">
        <td id="task">{{task.taskName}}</td>
      </div>
      <td class="mid">{{task.taskDate|date : "fullDate" }}</td>
      <td class="mid" style="padding-left: 150px;"><img [src]="task.taskImage" alt=""></td>
      <div class="right">
        <button class="prev_button button" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
        <button class="prev_button button" (click)="openDialog(i)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </tr>
  </tbody>
</table>