<header>
    <h1>{{ isEditing ? 'Update Task Details' : 'Add task details'}}</h1>
</header>

<div class="groupInput">

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Task Name" id="text" name="text" [(ngModel)]="data.taskName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
        <mat-error>{{ taskNameError }}</mat-error>
        <p>{{ taskNameError }}</p>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.taskDate" [min]="currentDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- <mat-error *ngIf="taskDateError">{{ taskDateError }}</mat-error> -->
        <p>{{ taskDateError }}</p>
    </mat-form-field>

    <div class="image">
        <div class="img-container">
            <input type="file" (change)="handleFileInput($event)" [(ngModel)]="data.taskImage">
            <img [src]="data.taskImage" alt="img missing">
        </div>
        <div class="img-error">
            <p>{{taskImageError}}</p>
        </div>
    </div>

</div>
<div class="groupBtn">
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
        <button mat-raised-button (click)="closeDialog()" color="primary">{{ isEditing ? 'Update' : 'Submit'
            }}</button>
    </mat-dialog-actions>
</div>